[Unit]
Description=Hadoop HDFS
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User=bryan
Group=bryan
Type=forking
Restart=on-failure
ExecStart=/usr/local/hadoop/sbin/start-dfs.sh
ExecStop=/usr/local/hadoop/sbin/stop-dfs.sh
Environment=JAVA_HOME=/home/bryan/.sdkman/candidates/java/current
Environment=HADOOP_HOME=/usr/local/hadoop
WorkingDirectory=/usr/local
TimeoutStartSec=2min
PIDFile=/tmp/hadoop-hadoop-namenode.pid

[Install]
WantedBy=multi-user.target